// Mixins Here
#navigation(){
    background: #f4f4f4;
    text-align: center;
}
#navbar(){
    text-decoration: none;
    color: black;
}
.border(@border: 1px solid black){
    border: @border;
}
.border-radius(@radius: 5px){
    border-radius: @radius;
}